body{
    background-image: url(assets/jefferson-santos-9SoCnyQmkzI-unsplash.jpg);
    background-position: center 0px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 0%;
    position: absolute;
    align-items: center;
}
.main{
    text-align: center;


}
.links{
    float: left;
    width: 100px;
    padding: 10px;
    background-color: black;
    color: rgb(139, 123, 30);
    padding-bottom: 0%;
    
}
h1{
    color: rgb(139, 123, 30);
}
a{
    color: rgb(139, 123, 30);
}
p{
    color: rgb(139, 123, 30);
}
ul{
    color: rgb(139, 123, 30);
}
ol{
    color: rgb(139, 123, 30);
}
